body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #111103de;
    overflow-x: hidden;
    /* Empêche le défilement horizontal */
}

.title_h1 {
    font-size: 3.5rem;
    margin-bottom: 45px;
    margin-left: 20px;
    color: #ff9900;
}

.contact p {
    margin-bottom: -4px;
    line-height: 0.9;
}

.container {

    width: 1200px;
    margin: 0 auto;
    background-color: #050202;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-left: 0;
    background: hsl(0, 0%, 0%);
}

.nav_link {
    color: #ff9900;

}

.logo-icon {
    background: #ff9900;
    color: #fff;
    margin-top: -37px;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav_list {
    list-style: none;
    display: flex;
    gap: 3.5rem;
    margin-right: 74px;
}

.nav_link {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: border 0.3s ease;
}

.nav_link:hover {
    border-color: #ff9900;
    border-radius: 5px;
    color: #fff;
}

.about {
    display: flex;
    background-color: #030303;
    background-image: url(/assets/images/backgrounds/About-background.png);
    background-size: 92%;
    background-repeat: no-repeat;
    background-position: 251% -74%;
    position: relative;
    z-index: 1;
    padding-left: 30px;
}

.paragraph {
    margin-top: 52px;
    color: #fff;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 152%;
}

.about-vertical-rectangle {
    position: absolute;
    bottom: 34px;
    right: 0px;
    /* Inverser la position de la gauche à la droite */
    width: 110px;
    height: 271px;
    background: rgba(223, 133, 57, 0.20);
}

.about-horizontal-rectangle {
    position: absolute;
    bottom: 34px;
    right: 0;
    /* Inverser la position de la gauche à la droite */
    width: 262px;
    height: 98px;
    background: rgba(218, 218, 218, 0.11);
}

/* Follow-me */

.follow-me {
    background-color: #1a1a1a;
    padding: 2rem 0;
    text-align: center;
    margin-bottom: 30px;
}

.title_h3_follow {
    color: #ff9900;
    border: none;
    font-size: 1.5rem;
    margin: 0px;
}

/* ***************  **  ** Footer **  ******************** */

.title_h3_footer {
    color: #fff;
    text-align: center;
}

.paragraph_footer {
    color: #fff;
}

.footer-content {
    width: 100%;
    overflow: hidden;
    background-color: #030303;
    position: relative;
}

.social-media {
    display: flex;
}

.link_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.social-media img {
    width: auto;
    height: 45px;
    margin-bottom: 10px;
}

.copyright {
    text-align: center;
    margin: 35px 0 20px;
}