a{
    text-decoration: none;
    color: #ff9900;
}

body {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #111103de;
    overflow-x: hidden;  /* Empêche le défilement horizontal */
}

.container {
    width: 100%;
    max-width: 1200px;  /* Définit la largeur maximale */
    margin: 0 auto;  /* Centre le conteneur horizontalement */
    background-color: #050202;
    position: relative;
    height: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-left: 0;
    background: #000;
}

.nav_link {
    color: #ff9900;

}
.logo-icon {
    background: #ff9900;
    color: #fff;
    margin-top: -37px;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav_list {
    list-style: none;
    display: flex;
    gap: 3.5rem;
    margin-right: 74px;
}

.nav_link {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold; 
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: border 0.3s ease; 
}

.nav_link:hover{
    border-color: #ff9900;;
    border-radius: 5px;
    color: #fff;
}

.hero {
    height: 560px;
    position: relative;  /* Nécessaire pour positionner les rectangles à l'intérieur */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url('/assets/images/backgrounds/Accueil-background.png') no-repeat center center; /* Ajouter l'image de fond */
    background-size: 75%; /* Redimensionner l'image pour qu'elle soit entièrement visible */
    background-position: center right; /* Positionner l'image plus à droite */
    background-color: #000;
    transition: background 0.5s ease-in;
}

.hero:hover{
    background: url('/assets/images/backgrounds/Contact-background.png') no-repeat center center; /* Ajouter l'image de fond */
    background-size: 72%; /* Redimensionner l'image pour qu'elle soit entièrement visible */
    background-position: center right; /* Positionner l'image plus à droite */
}

.span_nav{
    font-size: 3.5rem;
    color: #fff;
    margin-top: -12px;
    font-weight: bold;
}

.hero-text {
    max-width: 50%;
    margin-left: 30px;
    position: relative; /* Assure que le texte est au-dessus de l'image de fond */
    z-index: 2; /* Positionne le texte au-dessus de l'image de fond */
}

.title_h1, .title_h2 {
    font-size: 2rem;
    color: #ff9900;
}

.hero_paragraph {
    margin: 1rem 0;
    font-size: 1.1rem;
    line-height: 1.5;
    padding-right: 70px;
}

.hero-vertical-rectangle {
    position: absolute;
    width: 50%;
    height: 60px;
    background: rgba(218, 218, 218, 0.11);
    bottom: 60px;
    right: 0px;
    z-index: 2;
}

.hero-ellipse {
    position: absolute;
    width: 180px;
    height: 180px;
    background: #df843953;
    border-radius: 90px;
    bottom: 30px;
    right: 30px;
    z-index: 10;
}

.contact_marcones{
    /* display: none; */
    opacity: 0;
    border-radius: 50%;
    width: 180px;
    transition: opacity 0.5s ease;
}

.button-contact {
    position: absolute;
    background: #ff9900;
    color: #fff;
    border: 2px solid #ff9900;
    padding: 0.55rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 21px;
    bottom: 39px;
    right: 100%;
    z-index: 30;
    transition: display 0.5s ease;
}

.btn-contact-footer {
    background: #ff9900;
    color: #fff;
    border: 2px solid #ff9900;
    margin: auto;
    padding: 0.55rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 21px;
    z-index: 30;
    transition: display 0.5s ease;
}

/* Rend l'image visible */
.button-contact:hover + .contact_marcones{
    opacity: 1;
}

.btn-contact-footer:hover, .button-contact:hover{
    background: #111103de;   
    color: #fff;
    border: 2px solid #ff9900;
}

.button-visit {
    position: absolute;
    background: #111103de;   
    color: #fff;
    border: 2px solid #ff9900; /* Bordure transparente par défaut */
    padding: 0.55rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 21px;
    bottom: 28px;
    margin-left: 34%;
    z-index: 30;
    box-sizing: border-box; /* Garde tout à l'intérieur des limites */
    transition: background 0.5s ease, border-color 0.5s ease;
}

/* Effet de survol */
.button-visit:hover {
    background: #ff9900;
    color: #000;
    border-color: #111103de; /* Change uniquement la couleur de la bordure */
}


#btn_youtube {
    margin-left: 4.5%; 
}

/* Effet de survol */
#btn_youtube:hover {
    background: #ff9900;
    color: #000;
    border-color: #111103de; /* Change uniquement la couleur de la bordure */
}
/* ***************************** Carousel ********************************* */

.carousel_title{
    text-align: center;
    margin: 10px;
    font-size: 22px;
}

.carousel_logos {
    width: 100%;
    overflow: hidden;
    background-color: #1a1a1a;
    position: relative;
}

.carousel {
    display: flex;  
}

.carousel img {
    width: auto;
    height: 65px;
    margin-bottom: 8px;
}
/********************************* Carousel Conviction **********************************/

.carousel_conviction {
    width: 100%;
    overflow: hidden;
    background-color: #1a1a1a;
    position: relative;
    padding: 20px 0;
}

.second_carousel {
    display: flex;
}

.second_carousel img {
    height: 65px;
    width: auto;
    margin: 0; /* Assure qu'il n'y a pas de marge entre les images */
}
/* ********************** Section Conviction **************************** */
.conviction {
    display: flex;
    justify-content: space-between;
    height: 600px;
    background-color: #030303;
    background-image: url(/assets/images/backgrounds/Conviction-background-2.png);
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: 6% 53%;
    position: relative;
}

.conviction-rectangle {
    position: absolute;
    width: 50%;
    height: 60px;
    flex-shrink: 0;
    background: rgba(218, 218, 218, 0.11);
    top: 60px;
    right: 0px;
    z-index: 20;
}

.conviction-ellipse {
    position: absolute;
    width: 180px;
    height: 180px;
    background: #df843953;
    border-radius: 90px;
    top: 30px;
    right: 30px;
    z-index: 10;
}

.conviction_h2, .h2_guiartech, .h2_youtube, .h2_volunteering{
    margin-top: 72px;
    text-align: center;
}

.volunteering-text, .youtube-text, .guiartech-text, .conviction-text{
    width: 45%;
}

.paragraph_conviction, .paragraph_youtube, .paragraph_guiartech, .paragraph_voluteering{
    color: #fff;
    display: flex;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    height: 75%;
    padding: 0% 12%;
    font-weight: 400;
    line-height: 152%; /* 30.4px */
}

.survol_guiartech{
    position: absolute;
    height: 200%;
    width: auto;
    z-index: 20;
    
}

.conviction-vertical-rectangle {
    position: absolute;
    bottom: 34px;
    left: 0px;
    width: 110px;
    height: 271px;
    background: rgba(223, 133, 57, 0.20);
}

.conviction-horizontal-rectangle {
    position: absolute;
    bottom: 34px;
    left: 0;
    width: 262px;
    height: 98px;
    background: rgba(218, 218, 218, 0.11);
}

.stats-conviction {
    display: flex;
    justify-content: space-around;
    background-color: #1a1a1a;
    padding: 2rem 0;
}

.stats-conviction img {
    width: 45px;
    height: 45px;
}

/* ********************* Section My Projects *********************** */

.hr_division {
    width: 90%;
    border: none;
    margin: 0;
    height: 2px;
    background-color: #ff9900; /* Couleur de la ligne */
}

.my-projects-top {
    text-align: center;
    background: #1a1a1a;
    height: 95px;
}

/* sections globales */

.guiartech, .youtube, .volunteering {
    display: flex;
    justify-content: space-between;
    height: 500px;
    background-color: #030303;
    position: relative;
}

/* **************** Section Guiartech **************** */

.guiartech_icon{
    height: 120px;
}

.guiartech-rectangle {
    position: absolute;
    width: 50%;
    height: 60px;
    background: rgba(218, 218, 218, 0.11);
    top: 60px;
    left: 0;
    z-index: 20;
}

.guiartech-ellipse {
    position: absolute;
    width: 180px;
    height: 180px;
    background: #df843953;
    border-radius: 90px;
    top: 30px;
    left: 30px; /* Inverser la position de la gauche à la droite */
    z-index: 10;
}

.guiartech-vertical-rectangle {
    position: absolute;
    bottom: 34px;
    right: 0px; 
    width: 110px;
    height: 271px;
    background: rgba(223, 133, 57, 0.20);
}

.guiartech-horizontal-rectangle {
    position: absolute;
    bottom: 34px;
    right: 0; /* Inverser la position de la gauche à la droite */
    width: 262px;
    height: 98px;
    background: rgba(218, 218, 218, 0.11);
}

.presentation_guiartech {
    top: 13%;
    z-index: 20;
    opacity: 1;
    background-image: url(/assets/images/Portfolio/Laptop_incliné_black.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.carousel-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.carousel-image.active {
    opacity: 1;
}

#carousel-container {
    width: 44%;
    height: 78%;
    position: absolute;
    right: 11%;
    transform-origin: center;
    transform: perspective(800rem) rotateX(25deg) rotateY(0deg) rotateZ(0deg) scale(1.35);
}


/* ********************* Section Youtube ********************* */

.presentation_youtube {
    top: 15%;
    z-index: 90;
    opacity: 1;
    background-image: url(/assets/images/projects/Phone_Black.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.carousel-youtube{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: 90;
}

.carousel-youtube.active{
    opacity: 1;
}

#carousel_container_youtube {
    width: 28%;
    height: 72%;
    position: absolute;
    right: 47%;
    transform-origin: center;
    transform: perspective(800rem) rotateX(25deg) rotateY(0deg) rotateZ(0deg) scale(1.35);
    
}

.youtube-rectangle {
    position: absolute;
    width: 50%;
    height: 60px;
    flex-shrink: 0;
    background: rgba(218, 218, 218, 0.11);
    top: 60px;
    right: 0;
    z-index: 20;
}

.youtube-ellipse {
    position: absolute;
    width: 180px;
    height: 180px;
    background: #df843953;
    border-radius: 90px;
    top: 30px;
    right: 30px;
    z-index: 10;
}

.youtube-vertical-rectangle {
    position: absolute;
    bottom: 34px;
    left: 0px;
    width: 110px;
    height: 271px;
    background: rgba(223, 133, 57, 0.20);
}

.youtube-horizontal-rectangle {
    position: absolute;
    bottom: 34px;
    left: 0;
    width: 262px;
    height: 98px;
    background: rgba(218, 218, 218, 0.11);
}

/* ************************* Section Volunteering ************************ */

.hr_volunteering{
    margin-left: 10%;
}



.presentation_volunteering {
    top: 15%;
    z-index: 20;
    opacity: 1;
    background-image: url(/assets/images/projects/Environnement-Black.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.carousel-volunteering{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.carousel-volunteering.active{
    opacity: 1;
}

#carousel_container_volunteering {
    width: 35%;
    height: 76%;
    position: absolute;
    right: 11%;
    transform-origin: center;
    transform: perspective(800rem) rotateX(25deg) rotateY(0deg) rotateZ(0deg) scale(1.35);
    
}

.volunteering-rectangle {
    position: absolute;
    width: 600px;
    height: 60px;
    flex-shrink: 0;
    background: rgba(218, 218, 218, 0.11);
    top: 60px;
    left: 0px;
    z-index: 2;
}

.volunteering-ellipse {
    position: absolute;
    width: 180px;
    height: 180px;
    background: #df843953;
    border-radius: 90px;
    top: 30px;
    left: 30px;
    z-index: 10;
}

.volunteering-vertical-rectangle {
    position: absolute;
    bottom: 34px;
    right: 0px;
    width: 110px;
    height: 271px;
    background: rgba(223, 133, 57, 0.20);
}

.volunteering-horizontal-rectangle {
    position: absolute;
    bottom: 34px;
    right: 0;
    width: 262px;
    height: 98px;
    background: rgba(218, 218, 218, 0.11);
}

.follow-me {
    background-color: #1a1a1a;
    padding: 2rem 0;
    text-align: center;
}

.follow-me button {
    background: #ff9900;
    color: #fff;
    border: none;
    padding: 0.75rem 3.5rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 21px;
    margin: 0px;
}

/* ********************* Footer ********************** */

.title_h3_footer {
    color: #fff;
    text-align: center;
}

.paragraph_footer{
    color: #fff;
}

.footer-content {
    width: 100%;
    overflow: hidden;
    background-color: #030303;
    position: relative;
}

.social-media {
    display: flex;
}

.link_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.social-media img {
    width: auto;
    height: 45px;
    margin-bottom: 10px;
}

.copyright{
    text-align: center;
    margin: 35px 0 20px;
    color: #fff;
}


/* Tablettes et petits écrans */
@media (max-width: 1024px) {
    .header, .hero, .conviction, .guiartech, .youtube, .volunteering {
        display: flex;
        flex-direction: row;
    }

    .hero-text{
        width: 59%;
        margin-left: 0;
        margin-top: -40px;
    }

    .span_nav{
        font-size: 2.5rem;
    }

    .title_h1{
        font-size: 1.5rem;
    }

    .title_h2{
        margin-top: 51px;
    }

    #portfolio{
        margin-bottom: -10px;
    }

    .carousel_title{
        margin-top: 20px;
    }
    
    .hero, .conviction, .guiartech, .youtube, .volunteering {
        height: 350px;
        padding: 20px;
    }
    
    .hero-text, .conviction-text, .guiartech-text, .youtube-text, .volunteering-text {
        max-width: 80%;
    }

    .hero-vertical-rectangle, .conviction-rectangle, .guiartech-rectangle, .youtube-rectangle, .volunteering-rectangle {
        width: 50%;
        height: 60px;
    }
    
    .button-contact, .button-visit, .btn-contact-footer {
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
    }

    .nav_list {
        gap: 1.5rem;
    }
    
    .carousel img, .second_carousel img {
        height: 50px;
    }

    #carousel-container {
        width: 35%;
        height: 65%;
        right: 12%;
        top: 14%;
    }

    #carousel_container_youtube {
        width: 25%;
        height: 70%;
        right: 53%;
    }

    #carousel_container_volunteering {
        width: 32%;
        height: 70%;
        right: 17%;
        
    }

    .hero_paragraph, .paragraph_conviction, .paragraph_youtube, .paragraph_guiartech, .paragraph_voluteering {
        font-size: 15px;
        padding: 0;
    }

    .button-visit {
     padding: 0.55rem 1.5rem;
        font-size: 1rem;   
        margin-left: 34%;   
    }
    
    /* Effet de survol */
    .button-visit:hover {
        background: #ff9900;
        color: #000;
        border-color: #111103de; /* Change uniquement la couleur de la bordure */
    }

}

@media (max-width: 768px) {
    .hero, .conviction, .guiartech, .youtube, .volunteering {
        display: bloc;
    }
  }

  @media (max-width: 320px) {
    .hero, .conviction, .guiartech, .youtube, .volunteering {
        height: 600px;
        width: 100%;
    }

    .volunteering-text, .youtube-text, .guiartech-text, .conviction-text{
        width: 100%;
    }

    .paragraph_conviction, .paragraph_youtube, .paragraph_guiartech, .paragraph_voluteering{
        color: #ffffffb0;
        font-size: 12px;
        font-weight: 400;
    }
  }
  